{%extends 'base.html'%}
{% load static %}

{%block contents%}
<div class="bg-white rounded-lg shadow-md p-6">
    <p>
        In this rapidly changing world, ensuring secure transactions is more important than ever.
        This paper discusses how combining artificial intelligence with multi-factor authentication enhances the
        security for cardless transactions. Machine Learning plays a vital role by automatically detecting and
        preventing fraud activities, while MFA adds extra layers of security.
    </p>
    <p>
        This paper includes algorithms like Convolutional Neural Networks Algorithm, Advanced Encryption Standards
        Encryption Algorithm and Cosine Similarity for feature mapping. These layers include using mobile devices
        and advanced identification methods like facial recognition, making the process secure and user-friendly.
    </p>
    <p>
        Together, these technologies create a robust defense system that not only prevents fraud but also ensures
        smooth and successful transactions. This combination facilitates the way for future growth of digital finance,
        providing both safety and convenience.
    </p>
    <p><strong>Keywords:</strong> Machine Learning, Multi-factor authentication, facial recognition, robust defense
        system, Convolutional Neural Networks Algorithm, Advanced Encryption Standards algorithm, Cosine Similarity.</p>

</div>
{%endblock%}
